# We can pick which files will not be copied inside a container on the FIRST multisage step
# Remember that this file works only on the FIRST multistage build step
# This is because build context loads on the first step

# We will not build docker from docker
Dockerfile

local.settings.json
.pytest_cache
data_samples
project.egg-info
scraping.egg-info
.ipynb_checkpoints
.venv
venv
upwork_report
reqlib-metadata
.run
.vscode
*.log
.DS_Store
__pycache__
cert
.idea
.next
.ultra.cache.json
.env.local
.env.global
dist

# They are platform dependant and should not be copied inside a container on the first step
node_modules
**/global_environment.json
